# Firebase Configuration (kingston-connect-5113)
VITE_FIREBASE_API_KEY=AIzaSyDE2TOOxUR_pIzAR-_8D944bFbFFZVqmAU
VITE_FIREBASE_AUTH_DOMAIN=kingston-connect-5113.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kingston-connect-5113
VITE_FIREBASE_STORAGE_BUCKET=kingston-connect-5113.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=47960569263
VITE_FIREBASE_APP_ID=1:47960569263:web:9fd8dcc44a4c1e6d362b5a
VITE_FIREBASE_MEASUREMENT_ID=G-NKF1GFCBCD
